@font-face {
  font-family: 'MyCustomFont';
  font-style: normal;
  font-weight: 400;
  src: url('https://raw.githubusercontent.com/TimeFlaire/PersonalFont/refs/heads/main/fnt.woff2') format('woff2');
}

/* Add more weights/styles as needed */
